{
    admin off
    auto_https off
}

:{$PORT:-8080} {
    root * /app/public
    encode zstd gzip

    # Exécuter les scripts PHP via le processus interne de FrankenPHP
    php_server {
        resolve unix//var/run/php/php-fpm.sock
    }
}